<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/index.js" defer></script>
  <title><%= name %></title>
</head>
<body>
  <h1>Welcome to <%= name %>!</h1>
  <button id="subscribe-btn" disabled>
    Enable Push Messaging
  </button>
  <button id="push-btn" disabled>
    Send Push Notification
  </button>
  <input id="vapid-key" hidden disabled value="<%= PUBLIC_VAPID_KEY %> ">
</body>
</html>